{% extends 'components/base.html' %}
{% load static %}
{% block content %}

{% include 'components/navbar.html' %}
<main class="main pt-4">
  
  <div class="container">
    {% include 'components/alert.html' %}

    <div class="row">
      <div class="col-md-9">

        <div class="row">
          {% for blog in blogs %}
          <div class="col-md-6">
            <article class="card mb-4">
              <header class="card-header">
                <div class="card-meta">
                  <a href="{% url 'single-blog-view' blog.pk %}"><time class="timeago" datetime="{{ blog.timestamp }}">{
                      blog.timestamp }}</time></a>
                </div>
                <a href="{% url 'single-blog-view' blog.pk %}">
                  <h4 class="card-title">{{ blog.title }}</h4>
                </a>
              </header>
              <a href="{% url 'single-blog-view' blog.pk %}">
                <img class="card-img" src="{{ blog.image.url }}" alt="" />
              </a>
              <div class="card-body">
                <p class="card-text">{{ blog.content|slice:":300" }}</p>
              </div>
            </article><!-- /.card -->
          </div>
          {% endfor %}
        </div>

      </div>
      <div class="col-md-3 ms-auto">

        <aside class="sidebar sidebar-sticky">
          <div class="card mb-4">
            <div class="card-body">
              <h4 class="card-title">Tags</h4>
              {% for tag in tags %}
              <a class="btn btn-light btn-sm mb-1" href="{% url 'category-blogs-view' tag.name %}">{{ tag.name }}</a>
              {% endfor %}
            </div>
          </div><!-- /.card -->

          <div class="card mb-4">
            <div class="card-body">
              <h4 class="card-title">Popular blogs</h4>
              {% if popular_blog %}
              <a href="{% url 'single-blog-view' popular_blog.pk %}" class="d-inline-block">
                <h4 class="h6">{{ popular_blog.title }}</h4>
                <img class="card-img" src="{{ popular_blog.image.url }}" alt="" />
              </a>
              {% endif %}
            </div>
          </div><!-- /.card -->
        </aside>

      </div>
    </div>
  </div>

</main>

{% include 'components/footer.html' %}

{% endblock content %}